

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html {
    font-size: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

img {
    height: auto;
    max-width: 100%
}

header,
main,
search {
    display: block
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer;
    font-size: inherit
}

header {
    position: relative;
    width: 100%;
    z-index: 2
}

a {
    color: inherit
}

main {
    left: 0;
    right: 0;
    margin: 1vw;
    position: relative;
    z-index: 1
}

search:after {
    content: "";
    display: table;
    clear: both
}

nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

nav ul:after {
    content: "";
    display: table;
    clear: both
}

nav a {
    display: block;
    text-decoration: none
}

.list-tiles {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto
}

.list-vertical {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: .75vw
}

.list-vertical__link {
    display: block;
    text-decoration: none
}

.list-vertical__link:hover {
    text-decoration: underline
}

.list-horizontal {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

.list-horizontal li {
    display: inline-block
}

.js .tabbed-content:not(.sdi-is-active) {
    display: none
}

.backdrop {
    background-color: rgba(8, 34, 63, 0.6);
    height: 100vh;
    position: absolute;
    -webkit-transition: opacity 0s ease;
    transition: opacity 0s ease;
    top: 0;
    width: 100vw;
    z-index: -1
}

.collapse {
    display: block
}

.collapse-title {
    font-size: inherit;
    font-weight: 600;
    margin: 0;
    padding-top: inherit
}

.collapse-title .js-collapse-trigger {
    cursor: pointer;
    display: block;
    outline: none;
    padding-left: 0;
    text-align: left;
    width: 100%
}

.collapse-main {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease;
    transition: max-height .5s ease
}

.collapse-icon {
    display: inline-block;
    float: right;
    position: relative;
    top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.collapse.js-is-active .collapse-icon {
    -webkit-transform: rotate(0);
    transform: rotate(0)
}

.collapse.js-is-active .collapse-main {
    max-height: 100vh
}

.flyout {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 3
}

.flyout-backdrop {
    display: none
}

.flyout-close {
    float: right
}

.flyout-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    padding-top: inherit
}

.flyout-content {
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    height: 100vh;
    max-width: 400px;
    overflow-y: auto;
    padding: 1vw 1.5vw;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%
}

.flyout-content ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

.flyout-content a {
    font-size: .875rem;
    padding: 2px 0
}

.js-is-active .flyout-content {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.js-is-active .flyout-backdrop {
    display: block
}

.js .modal {
    display: none
}

.modal.js-is-active {
    display: block;
    position: fixed;
    top: 0;
    z-index: 2
}

.modal-overlay {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    left: 50%;
    position: fixed;
    top: 50%
}

.modal-header {
    font-weight: 600;
    position: relative
}

.modal-content {
    overflow-y: auto
}

.modal-header__close {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0
}

.modal-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

.modal-list__item {
    display: inline-block;
    width: 49%
}

@supports ((display: -ms-grid) or (display: grid)) {
    .modal-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto
    }
    .modal-list__item {
        width: 100%
    }
}

.modal-list__link {
    display: block;
    padding: 9px;
    text-decoration: none
}

.modal-list__link:hover {
    background-color: #f5f5f5
}

.modal-content--qr {
    text-align: center
}

.modal-content--qr img {
    mix-blend-mode: multiply
}

.notification {
    -webkit-transition: all .2s;
    transition: all .2s
}

.notification.js-hidden {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.notification.js-visible {
    right: 1vw;
    -webkit-transform: translateX(0%);
    transform: translateX(0%)
}

.overlay {
    display: block;
    position: fixed;
    z-index: 3
}

.overlay-close {
    float: right
}

.overlay-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    padding-top: inherit
}

.overlay-content {
    height: 100vh;
    overflow-y: auto;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%
}

.tile {
    display: block;
    position: relative
}

.tile-image {
    display: inline-block;
    max-height: 66%;
    max-width: 100%;
    object-fit: contain
}

.tile-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#wallpaper {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.sdi-is-fixed {
    position: fixed
}

.js-sticky {
    position: fixed
}

#notification {
    display: block !important
}

.overlay {
    display: block !important
}

body {
    background-color: #fdfdfd;
    font-family: -apple-system, sans-serif;
    width: 100%
}

#wallpaper {
    background-position: center center;
    background-size: cover;
    -webkit-filter: blur(0.1px);
    filter: blur(0.1px)
}

.collapse {
    border-top: 1px solid #ddd
}

.modal-overlay {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    left: 50%;
    position: fixed;
    top: 50%;
    background-color: #fdfdfd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    height: auto;
    max-height: 400px;
    max-width: 500px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    width: 90%
}

.js-is-active .modal-overlay {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    position: fixed;
    top: 50%
}

.modal-header {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #007acc;
    color: #333;
    margin-bottom: 9px;
    padding: 18px
}

.modal-content {
    padding: 9px
}

.overlay {
    height: 100vh;
    width: 100%
}

.overlay-content {
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333
}

.js-hidden .backdrop {
    height: 0;
    opacity: 0
}

.js-hidden .overlay-content {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.js-visible .backdrop {
    opacity: 1
}

.js-visible .overlay-content {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

header {
    background-color: #fdfdfd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

header.js-sticky {
    top: 0
}

header .collapse {
    border-width: 0
}

.list-tiles {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.tile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 156px;
    padding: .5vw;
    position: relative;
    width: 25%
}

@supports ((display: -ms-grid) or (display: grid)) {
    .list-tiles {
        display: -ms-grid;
        display: grid;
        grid-gap: 1vw;
        -ms-grid-columns: (minmax(256px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr))
    }
    .tile-container {
        padding: 0;
        width: auto
    }
}

.tile {
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, rgba(253, 253, 253, 0.9), rgba(245, 245, 245, 0.97));
    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0.9), rgba(245, 245, 245, 0.97));
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .75rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%
}

.tile:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(253, 253, 253, 0.9), rgba(245, 245, 245, 0.97));
    background-image: linear-gradient(to top, rgba(253, 253, 253, 0.9), rgba(245, 245, 245, 0.97));
    border-color: #ddd;
    z-index: 2
}

.tile-title {
    background-color: rgba(245, 245, 245, 0.3);
    bottom: 0;
    color: #333;
    display: block;
    left: 0;
    padding: .5vw;
    position: absolute;
    right: 0
}

.tile__button {
    color: inherit;
    left: 1px;
    padding: .5vw;
    position: absolute;
    top: 1px;
    z-index: 2
}

.tile-image {
    margin: auto
}

.notification {
    background-color: #fdfdfd;
    bottom: 3vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: 1vw;
    position: fixed;
    right: 0;
    z-index: 99
}

search {
    background-color: #007acc;
    color: #fff;
    font-size: .75rem;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    z-index: 2;
	
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

search.js-sticky {
    bottom: 0
}

search a {
    color: inherit;
    display: inline-block;
    padding-bottom: 9px;
    padding-top: 9px
}

search .description {
    float: left
}

search .social-profiles {
    float: right
}

search .search{
	width: 40vw;
	height: 30px;
}

nav li {
    display: inline-block
}

nav a {
    color: #333
}

nav a:hover,
nav a.sdi-is-active {
    background-color: #007acc;
    border-radius: 2px;
    color: #fff
}

.js-fx header,
.js-fx main,
.js-fx search,
.js-fx #wallpaper {
    -webkit-filter: blur(1px);
    filter: blur(1px)
}

@media (max-width: 670px) {
    button {
        padding: 1vw 2vw
    }
    header,
    .overlay-content {
        padding: 2vw 1.5vw
    }
    header a {
        padding: 1vw 2vw
    }
    .overlay-title {
        padding-bottom: 1vw;
        padding-top: 1vw
    }
    header {
        /*display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr)
		*/
    }
    #bookmarks-toggle {
        justify-self: end
    }
    #header-nav-toggle {
        justify-self: start
    }
    #header-nav {
        -ms-grid-column-span: 2;
        -ms-grid-column: 1;
        grid-column: 1 / span 2;
        overflow: hidden;
        -webkit-transition: max-height .5s ease;
        transition: max-height .5s ease
    }
    #header-nav.js-opened {
        max-height: 100vh
    }
    #header-nav li {
        display: block
    }
}


@media (min-width: 671px) {
    button {
        padding: .75vw 1vw
    }

    header a {
        padding: .75vw 1vw
    }
    header .collapse-main {
        overflow: visible
    }
    #bookmarks-toggle {
        float: right
    }
    #application-header .collapse-main {
        max-height: none
    }
    .overlay-title {
        padding-bottom: .75vw;
        padding-top: .75vw
    }
    .tile-title {
        opacity: 0;
        -webkit-transition: opacity .2s;
        transition: opacity .2s
    }
    .tile:hover .tile-title {
        opacity: 1
    }
    button[data-target*="nav"] {
        display: none
    }
}

.application-header{
	position: relative;
}

.search_bar{
	width: 50vw;
	height: 30px;
	text-align: center;
}

search{
	position: relative;
}